.blogtitle {
    margin-top: 30px;
    font-size : 70px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.blogdate {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.blogentry{
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(255, 229, 250);
    
    border-width: 25px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(255, 187, 226);

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.blogimage {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    transition: transform 0.4s ease;
}

.blogimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogimage:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}

.blogdescription {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left : 20px;
    flex: 1;
    max-width: 50%;
    color: rgb(238, 145, 203);
}