.commentform{
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 20px;
    background-color: rgb(241, 236, 255);
    
    border-width: 10px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(209, 207, 255);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.header{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    color: rgb(164, 144, 255);
}

.input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d4a9ff;
  background-color: #fbf7ff;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  font-family: 'Courier New', Courier, monospace
}

.submitButton {
  padding: 10px;
  background-color: #a59fff;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
  transition-duration: 0.5s;
  transition-timing-function: ease ;
}

.submitButton:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform: scale(1.05);
  background-color: rgb(212, 192, 255);
  
}
