.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(136, 190, 218);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 10;
  font-family: 'Courier New', Courier, monospace;
}