.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: rgb(136, 190, 218);
  color: white;
  padding: 0px 0px;

  font-family: 'Courier New', Courier, monospace;
}

.navlist {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 12px;
  text-decoration: none;
  letter-spacing: 1px;
}

.logo {
  display: flex;
  font-weight: bold;
  margin-left: 30px
}
