.blogabout{
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 217, 223);
    
    border-width: 25px;
    border-radius: 25px;
    border-style: solid;
    border-color: pink;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.blogtext {
    margin-left : 20px;
    flex: 1;
    max-width: 50%;
    color: rgb(225, 128, 144)
}

.blogimage {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.blogimage img {
    width: 100%
}

.blogtitle {
    font-size : 30px;
}

.bloginfo{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}