.entry{
    margin-top: 10px;
    margin-bottom: 10px;
}

.entrytitle {
    color : rgb(92, 157, 190);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
}

.entryinfo {
    font-style: italic;
    color : rgb(125, 125, 125);
    font-family: 'Courier New', Courier, monospace;
}

.entrydescription {
    color : rgb(45, 105, 132);
    font-family: 'Courier New', Courier, monospace;
}
